<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RetroPicture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67E5F53C1C639BD700755BED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E5F5501C639BD800755BED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E5F55B1C639BD800755BED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
